@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 99%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 5%;

    --primary: 284 80% 44%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 91%;
    --input: 0 0% 84%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark,
  :root[class~="dark"] {
    --background: 280 7% 8%;
    --foreground: 300 9% 98%;

    --card: 280 6% 10%;
    --card-foreground: 300 9% 98%;

    --popover: 280 6% 10%;
    --popover-foreground: 300 9% 98%;

    --primary: 284 80% 44%;
    --primary-foreground: 300 9% 98%;

    --secondary: 285 8% 19%;
    --secondary-foreground: 300 9% 98%;

    --muted: 284 7% 29%;
    --muted-foreground: 285 8% 49%;

    --accent: 284 71% 19%;
    --accent-foreground: 300 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 288 8% 12%;
    --input: 285 9% 18%;
    --ring: 284 80% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground dark:bg-background;
  }

  .ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
  }
  .ps__rail-x {
    display: none;
    opacity: 0;
    transition:
      background-color 0.2s linear,
      opacity 0.2s linear;
    -webkit-transition:
      background-color 0.2s linear,
      opacity 0.2s linear;
    height: 15px;
    bottom: 0px;
    position: absolute;
  }

  .ps__rail-y {
    display: none;
    opacity: 0;
    transition:
      background-color 0.2s linear,
      opacity 0.2s linear;
    -webkit-transition:
      background-color 0.2s linear,
      opacity 0.2s linear;
    width: 15px;
    right: 0;
    position: absolute;
  }

  .ps--active-x > .ps__rail-x,
  .ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent;
  }

  .ps:hover > .ps__rail-x,
  .ps:hover > .ps__rail-y,
  .ps--focus > .ps__rail-x,
  .ps--focus > .ps__rail-y,
  .ps--scrolling-x > .ps__rail-x,
  .ps--scrolling-y > .ps__rail-y {
    opacity: 0.6;
  }

  .ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition:
      background-color 0.2s linear,
      height 0.2s ease-in-out;
    -webkit-transition:
      background-color 0.2s linear,
      height 0.2s ease-in-out;
    height: 6px;
    bottom: 2px;
    position: absolute;
  }

  .ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition:
      background-color 0.2s linear,
      width 0.2s ease-in-out;
    -webkit-transition:
      background-color 0.2s linear,
      width 0.2s ease-in-out;
    width: 6px;
    right: 2px;
    position: absolute;
  }

  .ps__rail-x:hover > .ps__thumb-x,
  .ps__rail-x:focus > .ps__thumb-x,
  .ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: #999;
    height: 11px;
  }

  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #999;
    width: 6px;
  }

  @supports (-ms-overflow-style: none) {
    .ps {
      overflow: auto !important;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
      overflow: auto !important;
    }
  }

  .ease-soft-in {
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }

  .ease-soft-in-out {
    transition-timing-function: cubic-bezier(0.46, 0.01, 0.58, 1);
  }
}
